/* Character Card Styles */
.character-card {
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: left;
    color: #fff;
  }
  
  .character-card h2, h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .character-card p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .character-card a {
    display: inline-block;
    color: #ffa500;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .character-card a:hover {
    text-decoration: none;
  }
  
  
  .link-btn {
      padding: 0.6em 2em;
      border: none;
      outline: none;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .link-btn:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ffa500,
        #000000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    .link-btn:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 10px;
    }