/* Character Card Styles */
.character-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: left;
    color: #fff;
  }
  
  .character-card h2, h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .character-card p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .character-card a {
    display: inline-block;
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .character-card a:hover {
    text-decoration: none;
  }
    
    