.character-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, purple, orange) 1;
  border-image-slice: 1;
}

.character-card-details {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  width: 600px;
  border-radius: 30px !important;
  align-items: center;
  font-size: small;
}

.character-image {
  flex: 1;
  padding-right: 20px;
}

.character-image img {
  width: 100%;
  height: auto;
}

.character-info {
  flex: 2.5;
}

.btn-back:hover {
  background-color: #ffca28;
}

.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc107;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.character-special-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
  }
  
  .character-special-card {
    flex: 1;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 30px;
    width: calc(33.33% - 20px);
  }

  @media screen and (max-width: 800px) {
    .character-special-cards {
      display: none;
    }
    .character-card-details {
      display: flex;
      flex-direction: column;
    }

    .btn-back {
      width: max-content;
    }
  }
  
