.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.loading-bar-and-percentage {
  display: flex;
  align-items: center;
}

.loading-bar {
  background-color: #ffa500;
  height: 13px;
  width: 100%;
  transition: width 1s ease-in-out;
}

.loading-percentage {
  margin-left: 10px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: small;
}

.loading-spaceship {
  max-width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
}
