/* movie-details.css */
.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .movie-card-details {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    width: 70%;
    border-radius: 30px !important;
  }
  
  .movie-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .movie-image img {
    max-width: 100%;
    height: auto;
  }
  
  .movie-info {
    flex: 1;
    padding-left: 20px;
  }
  
  .back-link {
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 1200px) {
  
    .movie-content {
      flex-direction: column;
    }
  
    .movie-image {
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width: 800px) {
      .movie-card-details {
          width: 85%;
      }

      .movie-card-details p, a, h2 {
          margin: 10%;
      }
  }
  