/* navbar.css */
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 9%;
}

.navbar-logo {
  max-width: 50%;
  height: auto;
  display: block;
}
  
  .suggestions {
    position: absolute;
    top: 10%;
    left: 79%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .burger-menu {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 10;
  }
  .burger-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  .burger-menu.open .burger-bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-menu.open .burger-bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-bar:last-child {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      display: none;
      gap: 10px;
    }
  
    .burger-menu {
      display: inline-block;
    }
  
    
    .mobile-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      padding: 20px;
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }
    
    .mobile-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .mobile-links a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    
    .search-bar.mobile-search-hide {
      display: none;
    }
    .navbar-logo-container {
      display: none;
    }
  }